*{
    box-sizing: border-box;
}
/*li{
    display: inline-block;
    padding: 10px;
}*/


a{
    text-decoration: none;
}
#banner {
    position: relative;
    overflow: hidden;
}
.a{
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}
#main > #banner{
    height: auto;
}
#footer {
    margin-top: 50px;
}

@media only screen and (max-width:991px){
    .topnav {
        background-color: rgb(110, 110, 110);
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
      }
      .topnav-right {
        float: right;
      }
    /*.menu{
        background-color: aqua;
    }
    .a{
        margin-left: 40%;
    }*/
}
@media only screen and (min-width:992px) {
    .content {
        position: absolute;
        top: 135px;
        left: 65px;
        color: white;
    }
    #main > #banner{
        background-color: #efefef;
        height: auto;
    }
    .topnav a {
        float: left;
        color: #000000;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
      }
      .topnav-right {
        float: right;
      }
    /*.a{
        margin-left: 55%;
    }*/
}
@media only screen and(max-width: 767px){
}